<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>{{pagetitle}}</title>
{%- for css in css_list %}
  <link rel="stylesheet" href="/static/css/{{css}}"/>
{%- endfor %}
{%- for script in scripts %}
  <script src="/static/scripts/{{script}}"></script>
{%- endfor %}
</head>
<body>
  <h1>{{pagetitle}}</h1>
{{html}}
<script> 
$(document).ready(function()
 {
  var jkd_env = new JkdEnv("chuap", "ws://" + window.location.host + "/ws", "");
  
  {{js}}

  // Launch jkd environment
  jkd_env.run();
});
</script>
</body>
</html>
