<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>{{pagetitle}}</title>
  <link rel="stylesheet" href="/static/css/jkd.css">
  <script src="/static/scripts/jquery-3.3.1.min.js"></script>
  <script src="/static/scripts/Chart.bundle.min.js"></script>
  <script src="/static/scripts/jkd.js"></script>
</head>
<body>
  <p>{{name}}</p>
  <!-- Le reste du contenu -->
  <p id="test1">Blabla</p>
  <div>
    <span id="push1">Launch : </span>
    <span id="result1">Result</span>
    <canvas id="chart1" width="800" height="200"></canvas>
  </div>
  <div>
    <span id="push2">Launch : </span>
    <span id="result2">Result</span>
  </div>
  <div id="status_bar"><span id="conn_status">Connecting...</span></div>
<script>

$(document).ready(function()
 {
  send = function(msg)
   {
    msg.url = '//demo' + msg.url;
    msg.src = '//demo/homepage';
    msg.qid = 1000;
    websocket.send(JSON.stringify(msg));
   };

  var ctx = $("#chart1");

var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});

  // First of all: launch websocket connection
  websocket = new WebSocket("ws://localhost:8080/ws");

  $("#test1").text("Hello world!");

  $("#push1").click(function(evt){send({'qid':1, 'query':'data', 'dst':'heavyproc', 'appname':'demo'})});
  $("#push2").click(function(evt){send({'url':'/siggen#output', 'query':'single'})});

  websocket.onopen = function(evt)
   {
    $("#conn_status").text("Connected");
     //send({"data":"Plikdf 1"});
   };

  // Message handling
  websocket.onmessage = function(evt)
   {
    msg = JSON.parse(evt.data);
    if (msg.qid == 'q1')
     {
      $("#result1").text("Response : " + JSON.stringify(msg));
     }
    else if (msg.qid == 'q2')
     {
      $("#result2").text("Response : " + JSON.stringify(msg));
     }
    else
     {
      $("#test1").text("Response : " + JSON.stringify(msg));
     }
   };

  websocket.onclose = function(evt)
   {
    $("#conn_status").text("Unconnected");
   };

//TODO:
// Error handling
//  websocket.onerror = function(evt) { onError(evt) };
});

</script>
</body>
</html>
