<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>{{pagetitle}}</title>
{%- for css in css_list %}
  <link rel="stylesheet" href="/static/css/{{css}}"/>
{%- endfor %}
{%- for script in scripts %}
  <script src="/static/scripts/{{script}}"></script>
{%- endfor %}
</head>
<body>
{{html}}
  <div id="status_bar"><span id="conn_status">Connecting...</span></div>
<script>

$(document).ready(function()
 {
  jkd_env = new JkdEnv("demo_pi", "ws://" + window.location.host + "/ws", "/demo_pi/homepage");


{{js}}

  // Launch jkd environment
  jkd_env.run();


});

</script>
</body>
</html>
