<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="/static/css/jkd.css">
  <script src="/static/scripts/jquery-3.3.1.min.js"></script>
</head>
<body>
  <p>{{name}}</p>
  <!-- Le reste du contenu -->
  <p id="test1">Blabla</p>
<script>

$(document).ready(function()
 {
  // jQuery methods go here...
  $("#test1").text("Hello world!");

  onMessage = function(evt)
   {
    $("#test1").text("Response : " + evt.data); 
   };
 
  websocket = new WebSocket("ws://localhost:8080/ws/mlk");
  websocket.onopen = function(evt)
   {
     websocket.send("Plikdf 1"); 
   };

//    websocket.onclose = function(evt) { onClose(evt) };
    websocket.onmessage = function(evt) { onMessage(evt) };
//    websocket.onerror = function(evt) { onError(evt) };  

   

});

</script>
</body>
</html>