<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="/static/css/jkd.css">
  <script src="/static/scripts/jquery-3.3.1.min.js"></script>
</head>
<body>
  <p>{{name}}</p>
  <!-- Le reste du contenu -->
  ...
</body>
</html>