<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="/static/css/jkd.css">
  <script src="/static/scripts/jquery-3.3.1.min.js"></script>
</head>
<body>
  <p>{{name}}</p>
  <!-- Le reste du contenu -->
  <p id="test1">Blabla</p>
  <div>
    <span id="push1">Launch : </span>
    <span id="result1">Result</span>
  </div>
  <div>
    <span id="push2">Launch : </span>
    <span id="result2">Result</span>
  </div>
  <div id="status_bar"><span id="conn_status">Connecting...</span></div>
<script>

$(document).ready(function()
 {
  send = function(msg)
   {
    websocket.send(JSON.stringify(msg));   
   };
   
  // First of all: launch websocket connection
  websocket = new WebSocket("ws://localhost:8080/ws");

  $("#test1").text("Hello world!");

  $("#push1").click(function(evt){send({'qid':'q1', 'query':'test1'})});
  $("#push2").click(function(evt){send({'qid':'q2', 'query':'test2'})});

  websocket.onopen = function(evt)
   {
    $("#conn_status").text("Connected");
     //send({"data":"Plikdf 1"});
   };

  // Message handling
  websocket.onmessage = function(evt)
   {
    msg = JSON.parse(evt.data);
    if (msg.qid == 'q1') 
     {
      $("#result1").text("Response : " + JSON.stringify(msg));
     }
    else if (msg.qid == 'q2') 
     {
      $("#result2").text("Response : " + JSON.stringify(msg));
     }
    else
     { 
      $("#test1").text("Response : " + JSON.stringify(msg));
     }
   };

  websocket.onclose = function(evt)
   {
    $("#conn_status").text("Unconnected");
   };

//TODO:
// Error handling
//  websocket.onerror = function(evt) { onError(evt) };
});

</script>
</body>
</html>
